!!!
%html
  %head
    %link{:href => "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", :rel => "stylesheet"}
    %link{:href => "http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css", :rel => "stylesheet"}
    
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %script{:src => "script.js"}
  %body{style: "margin-left: auto; max-width: 900px; margin-right: auto;"}
    %h2{style: 'text-align: center;'} ip address: <10.10.10.154:5678>
    .pure-g
      .pure-u-1
        %img.pure-img#mjpeg_dest{style: "margin-left: auto;margin-right: auto;"}
    %br
    .pure-g
      .pure-u-1.pure-u-md-1-2
        %table{style: "margin-left: auto;margin-right: auto;"}
          %tr{style: 'text-align: center;'}
            %td{colspan: 2} 
              %button#forward{type: 'button', value: 'forward', onmousedown: "sendmsg('forward')", onmouseup: "sendmsg('break')"} forward
          %tr
            %td{style: 'text-align: center;'}
              %button#left{type: 'button', value: 'left', onmousedown: "sendmsg('left')", onmouseup: "sendmsg('break')"} turn left
            %td{style: 'text-align: center;'}
              %button#right{type: 'button', value: 'right', onmousedown: "sendmsg('right')", onmouseup: "sendmsg('break')"} turn right
          %tr{style: 'text-align: center;'}
            %td{colspan:2}
              %button#backward{type: 'button', value: 'backward', onmousedown: "sendmsg('backward')", onmouseup: "sendmsg('break')"} backward
      .pure-u-1.pure-u-md-1-2
        #msgs{style: "text-align: center;"}

  :javascript
    var ws;
    window.onload = function(){
      setTimeout('init();', 100);
      (function(){
        var show = function(el){
          return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
        }(document.getElementById('msgs'));

        ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen    = function()  { show('connection opened'); };
        ws.onclose   = function()  { show('connection closed'); }
        ws.onmessage = function(m) { show('message: ' +  m.data); };

      })();
    }
    function sendmsg(m){
      ws.send(m);
      return false;
    };
