!!!
%html
  %head
    %link{:href => "http://cdn.foundation5.zurb.com/foundation.min.css", :rel => "stylesheet"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %script{:src => "script.js"}
  %body{onload: "setTimeout('init();', 100);"}
    %h1 Control robot movement with buttons below. ip address: <10.10.10.154:5678>
    .row
      %div
        %img#mjpeg_dest
    .row
      .small-4.large-4.columns
        %table
          %tr{style: 'text-align: center;'}
            %td{colspan: 2} 
              %button#forward{type: 'button', value: 'forward', onclick: "sendmsg('forward')"} forward
          %tr
            %td{style: 'text-align: center;'}
              %button#left{type: 'button', value: 'left', onclick: "sendmsg('left')"} turn left
            %td{style: 'text-align: center;'}
              %button#right{type: 'button', value: 'right', onclick: "sendmsg('right')"} turn right
          %tr{style: 'text-align: center;'}
            %td{colspan:2}
              %button#backward{type: 'button', value: 'backward', onclick: "sendmsg('backward')"} backward
      .small-8.large-8.columns
        #msgs

  :javascript
    var ws;
    window.onload = function(){
      (function(){
        var show = function(el){
          return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
        }(document.getElementById('msgs'));

        ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen    = function()  { show('connection opened'); };
        ws.onclose   = function()  { show('connection closed'); }
        ws.onmessage = function(m) { show('message: ' +  m.data); };

      })();
    }
    function sendmsg(m){
      ws.send(m);
      return false;
    };
