!!!
%html
  %body
    %h1 Control robot movement with buttons below. ip address: <10.10.10.154:5678>
    %table
      %tr{style: 'text-align: center;'}
        %td{colspan: 2} 
          %button#forward{type: 'button', value: 'forward', onclick: "sendmsg('forward')"} forward
      %tr
        %td{style: 'text-align: center;'}
          %button#left{type: 'button', value: 'left', onclick: "sendmsg('left')"} turn left
        %td{style: 'text-align: center;'}
          %button#right{type: 'button', value: 'right', onclick: "sendmsg('right')"} turn right
      %tr{style: 'text-align: center;'}
        %td{colspan:2}
          %button#backward{type: 'button', value: 'backward', onclick: "sendmsg('backward')"} backward
    %br
    #msgs

  :javascript
    var ws;
    window.onload = function(){
      (function(){
        var show = function(el){
          return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
        }(document.getElementById('msgs'));

        ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen    = function()  { show('connection opened'); };
        ws.onclose   = function()  { show('connection closed'); }
        ws.onmessage = function(m) { show('message: ' +  m.data); };

      })();
    }
    function sendmsg(m){
      ws.send(m);
      return false;
    };
